{% extends "basic.html" %}
{% block content %}

<style>
.glass-card {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.15);
    max-width: 1100px;
    margin: auto;
}

.result-box {
    background: rgba(255,255,255,0.35);
    border-radius: 15px;
    padding: 25px;
    margin-top: 25px;
}

.progress {
    height: 20px;
    border-radius: 10px;
}

.progress-bar {
    font-weight: bold;
}
</style>

<div class="glass-card">

    <h3 class="text-center mb-4">🧠 Tumor AI Analysis</h3>

    <form method="POST" enctype="multipart/form-data">

        <input type="file" name="image" class="form-control mb-3" required>

        <select name="model" class="form-control mb-3">
            <option value="cnn">Custom CNN</option>
            <option value="vgg" selected>VGG16</option>
        </select>

        <div class="text-center">
            <button class="btn btn-info btn-lg px-4">
                🔬 Run Prediction
            </button>
        </div>
    </form>

    {% if label %}

    <div class="result-box">

        <h4 class="text-center mb-3">Prediction Result</h4>

        <div class="text-center">
            <img src="{{ image_url }}"
                 class="img-fluid rounded shadow"
                 style="max-height: 280px;">
        </div>


        <h5 class="text-center mt-3">
            Diagnosis: <b>{{ label }}</b>
        </h5>

        <p class="text-center">
            Confidence: <b>{{ "%.2f"|format(confidence * 100) }}%</b>
        </p>

        <div class="progress mb-3">
           <div class="progress-bar" style="--width-percent: {{ confidence * 100 }}%; width: var(--width-percent);"></div>
        </div>

        <hr>

        <p><b>Description:</b> {{ info.description }}</p>
        <p><b>Symptoms:</b> {{ info.symptoms }}</p>
        <p><b>Treatment:</b> {{ info.treatment }}</p>

        <div class="text-center mt-3">
            <a href="/report/{{pred_id}}"
               class="btn btn-dark btn-lg">
                📄 Download AI Report
            </a>
        </div>

    </div>

    {% endif %}

</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
